.container_grid {
  position: absolute;
  left: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px 450px 450px 450px;
  gap: 0.7em;
  width: 90%;
  height: 100vh;
}
.grid_child {
  border: 1px solid grey;
  // background-color: rgba(128, 128, 128, 0.3);
  // padding-top: 10px;
}
/* .grid_child:nth-child(1){
      height: 250px;
    }
    .grid_child:nth-child(2){
      height: 250px;
    }
 */

/* .grid_child {
      height: 400px;
    } */

.chartContainer_GD {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 37px 0 10px;
}
.derivedEqContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.formulaContainer {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.paddingTop_GD {
  padding-top: 10px;
}

@media (max-width: 580px) {
  .container_grid {
    display: flex;
    flex-direction: column;
  }
  .grid_child {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.3);
    padding-top: 10px;
    border: none;
  }

  .mathJaxGeneral {
    width: 80%;
    font-size: 9px !important;
  }
  .chartContainer_GD {
    flex-direction: column;
    align-items: center;
    height: 500px;
    padding: 0;
  }
  .formulaContainer {
    width: 80%;
  }
  .yellow_gd {
    border: 1px solid #ddb8117e;
    color: #ddb611;
    top: -10px;
    font-size: small;
    box-shadow: 1px 1px 2px black;
    width: 100%;
    margin-left: 0 !important;
    margin-top: 0 !important;
  }

  #governingDynamics {
    .yellow_gd {
      border: 1px solid #deb513;
      padding: 5px;
      width: 96%;
      text-align: left;
      position: static !important;
      margin-bottom: 80px;
      font-size: 10px;
    }
    .dashboard-box-filter {
      top: 50px;
      .dropdown-header {
        border-color: #deb513;
        color: #deb513;
      }
    }
    .infoBtn {
      top: 58px !important;
      fill: #deb513 !important;
    }
    .governingIndexSelect {
      top: 50px;
      left: 0.5rem;
      & > div {
        background-color: transparent;
        border-color: #deb513;
        & > div > div {
          color: #deb513;
        }
      }
    }
    .dropdown-select {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
    }
    .derivedEqContainer {
      .yellow_gd {
        margin-bottom: 20px;
      }
    }
    .infoSectionContainer {
      padding-top: 10px;
      padding-bottom: 10px;
      .infoSectionInfoText {
        text-align: justify;
      }
    }
    .formulaContainer > div {
      line-height: 0;
    }
    .child6 {
      img {
        width: 150px;
      }
    }
  }
}
