$logoHeight: 23px;
$logoWidth: 150px;
.nav-container {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  box-shadow: 1px 1px 10px #545132;

  .menu-container {
    display: flex;
  }
  .logo-container {
    width: $logoWidth;
    height: $logoHeight;
    .logo {
      width: $logoWidth;
      height: $logoHeight;
    }
  }
  .userInfo {
    width: 150px;
    height: 100%;
  }
}
.menu-icon-container {
  width: max-content;
  .menu-icon {
    width: 120px;
    // height: 18px;
  }
}
