$logoHeight: 20px;
$logoWidth: 120px;
.nav-container {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  box-shadow: 1px 1px 10px #545132;
  position: sticky;
  top: 0;
  background: #131415;
  z-index: 9;
  .menu-container {
    grid-gap: 20px;
    display: flex;
  }
  .logo-container {
    width: $logoWidth;
    height: $logoHeight;
    .logo {
      width: $logoWidth;
      height: $logoHeight;
    }
  }
  .userInfo {
    // width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
.menu-icon-container {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-gap: 5px;
  .menu-icon {
    width: 20px;
    cursor: pointer;
    // height: 18px;
  }
  .menu-name {
    font-family: "Roboto";
    cursor: pointer;
    font-size: 12px;
  }
  .menu-name-selected {
    color: #f9be67;
  }
}
