.login,
.sign-up,
.data-api {
  &-title {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
  };
  &-heading {
    margin-bottom: 20px;
    font-size: 5rem;
    color: #ffc002;
    text-align: center;
    //font-weight: bold;
  }
}

.data-api {
  &-desc {
    color: #bbb;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    max-width: 315px;
    font-style: italic;
  }
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &-form {
    display: grid;
    //justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    margin-left: 25%;
  }

  &-label {
    float: right;
    color: #fff;
  }

  &-input {
    background: none;
    outline: 0;
    border-width: 1px;
    border-color: #fff;
    border-radius: 12px;
    color: #fff;
    padding: 5px;
    //margin-left: 50px;
    width: 25rem;
    margin-top: 0.5rem;

    @media only screen and (max-width: 425px) {
      width: 150px;
    }
  }

  .pill {
    margin: 20px 5px;
    border-radius: 500px;
    border: 2px solid #fff;
    max-width: 350px;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;

    &-red {
      border-color: #ff0000;
      background: linear-gradient(to left, transparent 50%, #ff0000 50%);
    }
  }

  &-button {
    margin: 20px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffc002;
    color: #fff;
    padding: 0.5rem;
    width: 10rem;
    border-radius: 7px;
    font-weight: bold;
    border: none;
    outline: none;
  }
  &-button1 {
    //margin: 20px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffc002;
    color: #fff;
    padding: 0.5rem;
    width: 25rem;
    border-radius: 7px;
    font-weight: bold;
    border: none;
    outline: none;
  }
  &-signup,
  &-submit {
    margin: 20px auto;
  }
}

.forgot-pass {
  color: #1b6dd1;
  cursor: pointer;
}

.forgot-password,
.confirm-email,
.succes-page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-title {
    margin-bottom: 40px;
    font-size: 1.5rem;
    color: #ffc002;
    text-align: center;
  }

  &-desc {
    margin-bottom: 20px;
    color: #fff;
    margin: 0 auto;
    max-width: 300px;
  }
}

.confirm-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-title {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #ffc002;
    text-align: center;
  }

  &-desc {
    margin-bottom: 20px;
    color: #fff;
    margin: 0 auto;
    max-width: 350px;
  }
}

.error-text {
  font-size: 14px;
  color: #ff0000 !important;
  text-align: center;
}

.resend {
  &-code {
    margin-top: 10px;
    text-align: center;
    color: #fff;
  }

  &-btn {
    color: #ffc002;
    cursor: pointer;
  }
}

.succes-page {
  &-title {
    margin-bottom: 40px;
    font-size: 1.5rem;
    color: #ffc002;
    text-align: center;
    font-weight: bold;
  }

  &-image {
    width: 200px;
  }
}
